<section class="action hide" id="posts-screen">
    <div class="profile-right">
        <div class="background-text"></div>
        <h2>Mis publicaciones</h2>
        <% if(user.products.length == 0) {%>
        <h4 id="noAddressesYet-msg" class="marginY">
            No tienes compras realizadas aún...
        </h4>
        <% } %> <% for(let i = 0; i < user.products.length;i++) { %>
        <article id="order" class="article">
           
            <ul id="order-items">
                <% let product = user.products[i] %>
                <li class="product">
                    <p class="product-name"><%= product.productName %></p>

                    <p class="unity-price">$<%=product.price %> </p>
                   
                    <div class="wine-logo-box">
                        <img
                            class="wine-logo"
                            src="/images/products/<%=product.image[0] %> "
                            alt="wineProduct"
                        />
                    </div>
                  <a href="/productos/<%=product.id%> ">Ver publicación</a>
                </li>
            </ul>

         
        </article>
        <% } %>
    </div>
</section>
