<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/error.css">
    <title>HOME | WINEDERFUL</title>
</head>

    <body class="body-index">
        <%- include("./partials/header.ejs",)  %> 
            <main>
                <div class="dead-glass">
                    <img src="images/dead-glass.png" alt="">
                    <h4>OOOPPS.! LA PÁGINA QUE INTENTAS BUSCAR, NO LA ENCONTRAMOS.</h4>
                </div>
            </main>
            <%- include("./partials/footer.ejs") %> 
        </section>
    </body>
</html>
