<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <title>PERFIL | WINEDERFUL</title>
        <link rel="stylesheet" href="/css/modal.css" />
        <script defer src="/js/payment/success.js" ></script>
    </head>

    <body>
        <%- include("./partials/header.ejs") %>
        <main class="profile-main">
        <h1>Success</h1>
        </main>
     <%-include("./partials/footer.ejs")%>
    </body>
</html>
