<footer class="footer-index">
    <div class="logo-links">
        <div class="links">
            <h4>Enlaces de interés</h4>
            <a href="">Terminos y condiciones</a>
            <a href="">FAQ</a>
            <a href="">Quienes somos</a>
        </div>
        <div class="social">
            <ul class="social-list">
                <li>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="copy">
        <p>© 2020 - Todos los derechos reservados</p>
    </div>
</footer>