<div id="mySidebar" class="sidebar">
    <a class="closebtn" onclick="closeNav()">×</a>
    <ul>
        <li>
            <a href="/"> <i class="fas fa-home"></i>Inicio </a>
        </li>
        <% if(user != undefined){ %>
        <li>
            <a href="/usuarios/perfil"
                ><i class="fas fa-user"></i>Mi cuenta</a
            >
        </li>
        <% }else{ %>

        <li>
            <a href="/usuarios/login"
                ><i class="fas fa-user"></i>Iniciar sesión</a
            >
        </li>
        <% } %>
        <li>
            <a href="/productos"><i class="fas fa-wine-bottle"></i>Productos</a>
        </li>
    </ul>
</div>
<header class="header-index">
    <div class="side-bar">
        <a id="round-button" class="round-button" onclick="openNav()"
            ><i class="fas fa-bars"></i
        ></a>
    </div>
    <div class="logo-image">
        <a href="/"><img src="/images\WINEDERFULL_logo-02.png" alt="" /></a>
    </div>
    <% if(user != undefined && user.dni){ %> 
    <div class="cart">
        <a class="round-button" href="/carrito"
            ><i class="fas fa-shopping-cart"></i
        ></a>
    </div>
    <% } %> 
    <nav class="under-nav">
        <ul>
            <li class="user-box">
                <a href="/usuarios/perfil"><i class="fas fa-user"></i></a>
            </li>
            <li id="search" class="search-box">
                <i class="fas fa-search"></i>
            </li>
            <li class="cart-box">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <li class="wine-box">
                <a href="/productos"> <i class="fas fa-wine-bottle"></i></a>
            </li>
        </ul>
    </nav>
    <form action="/productos/buscar" method="GET" class="search-form">
        <label class="search-label" for="">
            <input name="search" type="text" />
            <i class="fas fa-times"></i>
        </label>
    </form>
</header>
