<section class="slideshow-prod">
    <div class="previous">
        <i class="fas fa-angle-left arrow"></i>
    </div>
    <div class="prod-container">
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://www.storedevinos.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/t/o/tolentino_malbec.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://media-verticommnetwork1.netdna-ssl.com/wines/catena-zapata-malbec-appellations-vista-flores-1683148-s732.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://www.storedevinos.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/o/coleccion_blend_1200.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://media-verticommnetwork1.netdna-ssl.com/wines/catena-zapata-malbec-appellations-vista-flores-1683148-s732.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://media-verticommnetwork1.netdna-ssl.com/wines/catena-zapata-malbec-appellations-vista-flores-1683148-s732.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://media-verticommnetwork1.netdna-ssl.com/wines/catena-zapata-malbec-appellations-vista-flores-1683148-s732.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://media-verticommnetwork1.netdna-ssl.com/wines/catena-zapata-malbec-appellations-vista-flores-1683148-s732.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
        <article class="prod">
            <div class="prod-love-box">
                <i class="far fa-heart"></i>
            </div>
            <div class="prod-img-box">
                <img
                    src="https://media-verticommnetwork1.netdna-ssl.com/wines/catena-zapata-malbec-appellations-vista-flores-1683148-s732.png"
                    alt="Vino tinto"
                />
            </div>
            <div class="prod-name-box">
                <p>name</p>
            </div>
            <div class="prod-price-cart-box">
                <p>$XXXX</p>
                <button>
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </article>
    </div>
    <div class="next">
        <i class="fas fa-angle-right arrow"></i>
    </div>
</section>