<div id="addresses-actions">
        <h4 class="marginY">Dirección</h4>
        <div>
            <button type="button" class="edit-btn no-border back-white">
                <i class="fas fa-pencil-alt edit-icon"></i>
            </button>
            <button type="button" class="delete-btn no-border back-white">
                <i class="fas fa-trash-alt delete-icon"></i>
            </button>
        </div>
    </div>