 <section class="reveal">
      <% let prod = (product) ? product : "" %> 
                <h2 id="title" class="desktop subtitle-wine">
                    <%=prod.productName || ""%>
                </h2>
                <div class="previewContainer" id="previewContainer">
                    <%let image = prod ? prod.image[0] :"" %> 
                    <img src="/images/products/<%=image%>" alt="Image Preview" class="imagePreview"/>
                    <span class="defaultTextImg">Image Preview</span>
                </div>

                <h2 id="price" class="price">$<%=prod.price || "" %> </h2>
                <p id="description" class="pDescription descPreview">
                    <%= prod.description || "Descripcion del producto..." %> 
                </p>
                <section class="specific">
                    <div id="colapse" class="colapse">
                        <p>ESPECIFICACIONES</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="inside" class="description font-description">
                        <div>
                            <p>UVA:</p>
                            <p id="grape" class="data"> </p>
                        </div>
                        <div>
                            <p>COSECHA:</p>
                            <p id="year" class="data"></p>
                        </div>
                        <!-- <div>
                            <p>PAIS:</p>
                            <p class="data"></p>
                        </div>
                        <div>
                            <p>ZONA:</p>
                            <p class="data"></p>
                        </div>
                        <div>
                            <p>BODEGA:</p>
                            <p class="data"></p>
                        </div> -->
                        <div>
                            <p>TEMPERATURA DE SERVICIO:</p>
                            <p id="temperature" class="data"></p>
                        </div>
                        <div>
                            <p>CRIANZA (EN AÑOS):</p>
                            <p id="aged" class="data"></p>
                        </div>
                    </div>
                </section>
            </section>